/*-------------------- Fonts --------------------*/

@font-face {
    font-family: "secondary-font";
    src: url("/Font/TF2secondary.ttf") format("truetype");
}

@font-face {
    font-family: "BYekan";
    src: url("/Font/BYekan.eot");
    src: url("/Font/BYekan.woff2") format("woff2"),
        url("/Font/BYekan.woff") format("woff"),
        url("/Font/BYekan.ttf") format("truetype");
}

/*-------------------- Original styles --------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: "BYekan", "secondary-font", "tahoma";
    background-color: #F3F4F4;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*--------------------- General class ----------------------*/

.button {
    margin: 5px;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    background-color: #E7EBEF;
    box-shadow: 0 1px 5px 2px #e3e4e4;

}

.button-connected {
    background-color: #5A8DEE;
    padding: 7px 25px;
    fill: white;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    box-shadow: 0 1px 5px 2px #e3e4e4;
}

.button-connected * {
    vertical-align: middle;
}

.button-NOconnected {
    color: #5F91EF;
    fill: #5F91EF;
    background-color: #E5EDFC;
    padding: 6px 20px;
}

/*------------------------- header -------------------------*/

header {
    height: 62px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 263px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px 1px #e3e4e4;
    background-color: #F3F4F4;
    padding: 0 30px;
    box-sizing: border-box;
}

/* search-box */
header>div.search-box {
    width: max-content;
}

header>div.search-box>a {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    color: #aeb9c4;
}

header>div.search-box>a>i::before {
    content: "\e8b6";
    padding: 3px;
    color: #83919f;
}

header>div.search-box>a::after {
    content: " جستجو (/+ctrl) ";
    vertical-align: middle;
}

/*-------- icons-menu --------*/
header>div.icons-menu {
    width: max-content;
    height: min-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

header>div.icons-menu>div {
    position: relative;
    cursor: pointer;
    padding: 7px 0 0 7px;
    box-sizing: border-box;
    margin-right: 10px;
}

header>div.icons-menu>div::after {
    content: "";
    display: inline-block;
    padding: 4px;
    bottom: 8px;
    right: 1px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    background-color: #39DA8A;

}

header>div.icons-menu>div>img {
    width: 38px;
    height: max-content;
    border-radius: 50%;
}


header>div.icons-menu>ul {
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    color: #83919f;
}

header>div.icons-menu>ul>li {
    width: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div.icons-menu>ul>li>img {
    width: 27px;
    border-radius: 50%;
}

header>div.icons-menu>ul>li:nth-of-type(2)>i::before {
    content: "\f159";
}

header>div.icons-menu>ul>li:nth-of-type(3)>i::before {
    content: "\e9b0";
}

header>div.icons-menu>ul>li:nth-of-type(4)>i::before {
    content: "\e7f7";
}

header>div.icons-menu>ul>li:nth-of-type(4)::after {
    content: "5";
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 50;
    font-size: 10px;
    height: 18px;
    width: 18px;
    top: 0px;
    right: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    background-color: #FF5B5C;
}


/*------------------------- aside -------------------------*/

aside {
    width: 262px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #d0d0d0;
    background-color: #F3F4F4;
    padding-right: 12px;
    box-sizing: border-box;
    z-index: 1000;
}

/* title-list */
aside .title-list {
    height: 64px;
    margin: 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

aside .title-list a {
    height: inherit;
    display: flex;
    align-items: center;
}

aside .title-list span {
    margin: 0 5px 5px;
    font-weight: 800;
    font-size: 27px;
    color: #5A8DEE;
}

aside .title-list::after {
    content: "";
    position: absolute;
    left: 24px;
    padding: 2px;
    border-radius: 50%;
    background-color: #F3F4F4;
}

/* list */
aside .list {
    margin-right: 5px;
    overflow-y: scroll;
}

/* scroll bar */
aside .list::-webkit-scrollbar {
    width: 13px;
    background-color: transparent;
}

/* track */
aside .list::-webkit-scrollbar-track {
    border-radius: 0px;
    width: 13px;
    background-color: transparent;
}

/* thumb */
aside .list::-webkit-scrollbar-thumb {
    border-radius: 0px;
    width: 0px;
    background-color: transparent;
}

aside .list:hover::-webkit-scrollbar-thumb {
    border-radius: 50px;
    width: 1em;
    background-color: #5A8DEE;
}


/* h6 */
aside .list>h6 {
    font-size: 14px;
    font-weight: 400;
    color: #a0a7b2;
    margin: 16px 0;
    margin-right: 16px;
}

/* menu */
aside .list ul {
    width: 100%;
}

aside .list ul li {
    display: flex;
    align-items: right;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s;
    height: 43px;
    margin: 1px;
    padding-right: 0px;
    box-sizing: border-box;
}

aside .list>ul li:hover {
    height: max-content;
}

aside .list>ul li.NOsubmenu:hover {
    height: 43px;
}


aside .list>ul>li {
    padding: 6px 0px;
    box-sizing: border-box;
}

aside .list>ul>li:hover {
    background-color: #ECEDED;
    padding: 6px 0px;
}

aside .list>ul>li ul li:hover {
    background-color: #e2e2e2;
}

aside .list>ul>li ul li ul li:hover {
    background-color: #d2d2d2;
}

aside .list>ul>li ul {
    display: none;
}

aside .list>ul>li:hover>ul {
    width: 100%;
    display: inline-block;
}

aside .list>ul>li>ul>li:hover>ul {
    width: 100%;
    display: block;
}

/* a */
aside .list>ul>li a {
    height: 100%;
    width: 100%;
    padding: 8.5px 10px 8px 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    color: #677788;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* p */
aside .list>ul>li a>p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

/*------------------------- main --------------------------*/
main {
    position: absolute;
    right: 263px;
    left: 0;
    top: 62px;
    z-index: 1;
}

/*--------- Address-bar ----------*/
main>.container>div.Address-bar {
    padding: 25px 30px 30px;
    box-sizing: border-box;
}

main>.container>div.Address-bar>h2 {
    display: inline;
    font-weight: 400;
    color: #aeb9c4;
}

main>.container>div.Address-bar>h2:nth-of-type(2) {
    color: #5A6B7E;
}

/*--------- Profile-cover ---------*/
main>.container>div.Profile-cover {
    width: 95%;
    height: 370px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 5px;
    cursor: context-menu;
    box-shadow: 0 0 20px 1px #d4d4d4;
}

/* banner */
main>.container>div.Profile-cover>div.banner {
    flex-grow: 7;
    background-image: url(../image/profile-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 5px 5px 0 0;
}

/* Profile */
main>.container>div.Profile-cover>div.Profile {
    position: relative;

    /* height */
    flex-grow: 1;

    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

main>.container>div.Profile-cover>div.Profile .Profile-cantainer {
    margin-right: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    align-content: start;
    flex-grow: 1;
}

/* information */
main>.container>div.Profile-cover>div.Profile .information {
    width: max-content;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 0px 0 10px;
    box-sizing: border-box;
    color: #516377;
}

main>.container>div.Profile-cover>div.Profile .information>img {
    width: 110px;
    position: absolute;
    top: -45px;
    right: 25px;
    display: inline-flex;
    border-radius: 4px;
    border: 5px solid white;
}

main>.container>div.Profile-cover>div.Profile .information>h3 {
    margin: 0 10px 15px;
    font-size: 24px;
    font-weight: 300;
}

main>.container>div.Profile-cover>div.Profile .information>div>span {
    color: #697989;
    margin: 5px;
    font-weight: 600;
    font-size: 16px;
}

main div.Profile-cover>div.Profile .information>div>span * {
    vertical-align: middle;
}

/* icons */
main div.Profile-cover>div.Profile .information>div>span>i {
    font-size: 20px;
    margin: 4px;
}

/* box-button */
main>.container>div.Profile-cover>div.Profile .box-button {
    height: 50px;
    margin: 15px 160px 0px 15px;
    padding-top: 2px;
    box-sizing: border-box;
    text-align: left;
}

/*--------- Menu-sections ---------*/
.Menu-sections {
    display: flex;
    padding: 25px 30px;
    box-sizing: border-box;
    margin: 0;
}

.Menu-sections a {
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #516377;
}

.Menu-sections a * {
    vertical-align: middle;
}

.Menu-sections a svg {
    margin-left: 5px;
}

a.Menu-sections-button {
    color: white;
    fill: white;
    font-size: 16px;
    background-color: #5A8DEE;
    box-shadow: 0 1px 5px 2px #cecece;
}

/*--------- container-cards-profile ---------*/
main div.container-cards-profile{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding:0 25px ;
    box-sizing: border-box;
}

/*----- Main-box-1 -----*/
main .Main-box-1 , .Main-box-2{
    flex-grow: 1.5;
    display:flex ;
    flex-wrap: wrap;
    margin: 8px;
    height: max-content;

    
}
/* About-card */

/* Overview-card */

/*----- Main-box-2 -----*/
.Main-box-2{
    flex-grow: 2.8;
}
/* ActivityTimeline-card */

/* connections-card */

/* teams-card */

/* projects-card */

/*------------------------- footer -------------------------*/

.footer {
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 0 20px;
    box-sizing: border-box;
}

/* ---footer-left */
.footer-left>a {
    color: gray;
    font-size: 14px;
    padding: 0px 10px;
}

/* -----footer-right--- */
.footer-right>p {
    color: #677788;
    font-size: 14px;
}

.footer-right>p>a {
    color: #677788;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
}